<!-- <ion-content style="position: relative; background: url('../../assets/imgs/bg.png');
background-attachment: fixed;
background-size: cover; 
background-repeat: no-repeat">

  
    <button ion-fab style="position: absolute;left:5%;top:22%">
      <ion-icon name="home"></ion-icon>
    </button>

    <button ion-fab style="position: absolute;left:30%;top:20%">
      <ion-icon name="home"></ion-icon>
    </button>

    <button ion-fab style="position: absolute;right:5%;top:13%">
      <ion-icon name="home"></ion-icon>
    </button>

    <button ion-fab style="position: absolute;right:30%;top: 14.5%">
      <ion-icon name="home"></ion-icon>
    </button>

 

</ion-content> -->


<!-- <ion-header>
  <div >
    <ion-row style="padding-top: 13px;padding-right: 11px;padding-left: 11px;">
      <ion-col col-1 (click)="toggleMenu()">
        <img src="../../assets/imgs/menu.png">
      </ion-col>
      <ion-col col-11 >

      </ion-col>
    </ion-row>
</div>
</ion-header> -->

<ion-content padding style="position: relative; background: url('../../assets/imgs/kfal2.svg');
background-attachment: fixed;
background-size: 100%; 
background-repeat: no-repeat">
<div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinner="none">
 
  </ion-refresher>
  
  <ion-row  class="my_home_icons_before" *ngIf="beforePulling">
    <ion-col col-1> </ion-col>
    <ion-col col-2>
      <button  id="btn1" ion-fab  >
        <ion-icon  name="home"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button id="btn2" ion-fab  (click)="Orders()"   >
        <ion-icon name="ios-paper-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button id="btn3" ion-fab  (click)="toggleMenu()">
        <ion-icon  name="menu"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button id="btn4" ion-fab  >
        <ion-icon  name="home"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button id="btn5" ion-fab  (click)="openPage('ClientProfilePage')">
        <ion-icon  name="person"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-1> </ion-col>
  </ion-row> 


  <div *ngIf="!beforePulling" class="my_home_icons_after">
    <ion-row>
      <ion-col col-4>
        <button id="btn4" ion-fab  (click)="Orders()">
          <ion-icon  name="ios-paper-outline"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4>
        <button id="btn4" ion-fab   (click)="toggleMenu()">
          <ion-icon  name="menu"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4>
        <button id="btn4" ion-fab  (click)="openPage('ClientProfilePage')" >
          <ion-icon  name="person"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-5>
        <button id="btn4" ion-fab  >
          <ion-icon  name="home"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-5>
        <button id="btn4" ion-fab  >
          <ion-icon  name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-1></ion-col>
     
    </ion-row>
  </div>
</div>

<!-- <ion-fab bottom right >
  <button ion-fab> <ion-icon  name="menu"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab><ion-icon  name="home"></ion-icon></button>
    <button ion-fab><ion-icon  name="person"></ion-icon></button>
    <button ion-fab><ion-icon  name="home"></ion-icon></button>
  </ion-fab-list>
</ion-fab> -->




</ion-content>