 <ion-header>
   <!--
  <div style="background-color: #F2F2F2;height: 110px;">
      <ion-row style="padding-top: 13px;padding-right: 11px;">
        <ion-col col-1 (click)="dismiss()">
            <ion-icon *ngIf="dir==true"  style="font-size: 35px;" name="ios-arrow-round-forward-outline"></ion-icon>
            <ion-icon *ngIf="dir==false"  style="font-size: 35px;" name="ios-arrow-round-back-outline"></ion-icon>
        </ion-col>
        <ion-col col-10 style="margin-top: 9px;text-align: center;height: 16px;width: 54px;color: #214952;font-size: 15.61px;line-height: 16px;">
           {{RequestCode}}
        </ion-col>
        <ion-col col-1 *ngIf="dir==true && request_status==1" (click)="edit()" style="padding-top: 14px;transform: rotate(90deg);" >
          <img src="../../assets/imgs/edit.png" >
        </ion-col>
        <ion-col col-1 *ngIf="dir==false && request_status==1" (click)="edit()" style="padding-top: 14px;" >
          <img src="../../assets/imgs/edit.png" >
        </ion-col>
      <ion-col col-1 *ngIf="request_status!=1">

      </ion-col>
      </ion-row>
  </div>

  <div style="margin-top: -28px;margin-left: 14px; margin-right: 14px;">
    <ion-row style="background-color: #f2f2f2;border-radius: 0px 0px 40px 41px;">
      <ion-col col-1></ion-col>
      <ion-col col-4 style="text-align: center;">
         <div>
           <p style="margin: 0px;">
              <span style="font-size: 21px;"> {{langFrom}}</span>
           </p>
         </div>
      </ion-col>
      <ion-col col-2 *ngIf="!dir" style="text-align: center;">
         <ion-icon style="color:#FFAA45;font-size: 31px;padding: 5px 1px;" name="ios-arrow-round-forward-outline"></ion-icon>
      </ion-col>
      <ion-col col-2 *ngIf="dir" style="text-align: center;">
        <ion-icon style="color:#FFAA45;font-size: 31px;padding: 5px 1px;" name="ios-arrow-round-back-outline"></ion-icon>
      </ion-col>
      <ion-col col-4 style="    text-align: center;font-size: 15px;">
          <div >
            <p style="margin: 0px;">
               <span style="font-size: 21px;">{{ langTo}}</span>
            </p>
          </div>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </div>-->
  <request-header UserType='client' [RequestData]="request_data" [RequestID]="RequestID" request_status={{request_status}} [langFrom]="langFrom" RequestCode={{request_data.RequestCode}}   [langTo]="langTo"></request-header>

</ion-header> 


<ion-content padding >
<request-details [RequestData]="request_data"></request-details>
      <!-- <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
          {{"general_feild"|translate}}
        </ion-col>
        <ion-col col-8></ion-col>
      </ion-row>
      <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
        {{general_feild}}
      </ion-item>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
            {{"specific_feild"|translate}}
        </ion-col>
        <ion-col col-8></ion-col>
      </ion-row>
      <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
        {{specific_feild}}
      </ion-item>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
            {{ "file_level"|translate}}
        </ion-col>
        <ion-col col-8></ion-col>
      </ion-row>
      <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
        {{file_level}}
      </ion-item>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
            {{"deadline"|translate}}
        </ion-col>
        <ion-col col-8></ion-col>
      </ion-row>
      <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
        {{request_data.FK_Request_Deadline_Hours}} {{"hour"|translate}}
      </ion-item>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
          {{ "number_of_pages"|translate}}
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="margin-top: -14px;">
          <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
            {{request_data.Request_NumOfPages}}
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
          {{"expected_amount"|translate}}
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="margin-top: -14px;">
          <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">

            $/
            {{request_data.Request_Value}}
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
          {{"payment_method"|translate}}
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="margin-top: -14px;">
          <ion-item style="color: #828282;font-size: 15px;line-height: 15px;">
           paypal
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 style="white-space: nowrap; color: #214952;font-size: 16px;line-height: 15px;">
            {{ "notices"|translate}}
        </ion-col>
        <ion-col col-8></ion-col>
      </ion-row>

      <div style="padding:10px; font-size: 13px;  color: #214952;;box-sizing: border-box;border-radius: 10px;border: 1px solid #808080;">
        {{request_data.Requst_Notes}}
      </div>


      <button ion-button (click)="filePreview()" full color="custom2" style="height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;">
        <ion-row style="    width: 100%;">
          <ion-col col-2>
            <ion-icon style="color: white;    font-size: 35px;" name="md-cloud-download"></ion-icon>
          </ion-col>
          <ion-col col-10 style="margin-top: 9px;text-transform: none;white-space: normal;">
            {{FileName}}
          </ion-col>
        </ion-row>
      </button>

      <button (click)="CancelRequest()" *ngIf="RequestType=='new'" ion-button full color="custom1" style="height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;">
          {{ "cancel_request"|translate}}
      </button>

      <button (click)="TranslatorContact()" *ngIf="RequestType=='current'" ion-button full color="custom1" style="height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;">
        {{  "client_chat"|translate}}
      </button>

      <ion-row *ngIf="RequestType=='received' && request_status==8">
        <ion-col col-6>
            <button  (click)="acceptReceivedRequest()" ion-button full color="custom1" style="height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;">
                {{  "accept_receive"|translate}}
              </button>
        </ion-col>
        <ion-col col-6>
            <button  (click)="refuseReceivedRequest()" ion-button full color="custom1" style="height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;">
                {{  "refuse"|translate}}
              </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="RequestType=='received' && request_status==13" style="margin-bottom: 10px;">
        <div style="width: 100%;background-color: #214952;height: 48px;border-radius: 15px;font-size: 17px;margin: 8px 0px;text-align: center;padding-top: 8px;">
           <span style="color: white;"> {{"received done"|translate}}</span>
        </div>

        <div style=" margin-bottom: 5px;   margin-top: 5px;background-color: #f2f2f2;border-radius: 10px;height: auto;width: 100%;padding: 10px;">
          <p *ngIf="dir==true" style="margin-top: 0px;margin-bottom: 0px;color: #214952;font-size: 15px;text-align: right;">  {{ "request rate"|translate}}</p>
          <p *ngIf="dir==false" style="margin-top: 0px;margin-bottom: 0px;color: #214952;font-size: 15px;text-align:left;">  {{ "request rate"|translate}}</p>
          <div style="text-align: center;">
            <ionic3-star-rating   activeIcon = "ios-star" defaultIcon = "ios-star-outline" activeColor = "#e0ce47" defaultColor = "#f3d819" readonly="true" [(ngModel)]="rate"></ionic3-star-rating>
          </div>

          <p *ngIf="dir==true" style="margin-top: 0px;margin-bottom: 0px;color: #214952;font-size: 15px;text-align: right;">  {{ "request comment"|translate}}</p>
          <p *ngIf="dir==false" style="margin-top: 0px;margin-bottom: 0px;color: #214952;font-size: 15px;text-align:left;">  {{ "request comment"|translate}}</p>
          <div style="text-align: center;">
            <p style="margin:0px">{{comment}}</p>
          </div>
        </div>

      </ion-row>
 -->
</ion-content>
